@model IEnumerable<ProductManagement.Models.ViewModels.ProductViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product List</h2>
<div class="container-fluid">
    <div class="my-5">
        <div class="row">
            <h3>Available Products</h3>
            <div class="col-md-12 table-responsive">
                <table class="table table-bordered ">
                    <tr>
                        <th>Operations</th>
                        <th> @Html.DisplayNameFor(model => model.ProductId)</th>
                        <th> @Html.DisplayNameFor(model => model.ProductName)</th>
                        <th> @Html.DisplayNameFor(model => model.PurchaseDate)</th>
                        <th> @Html.DisplayNameFor(model => model.SupplierName)</th>
                        <th> @Html.DisplayNameFor(model => model.EmailAddress)</th>
                        <th> @Html.DisplayNameFor(model => model.Quantity)</th>
                        <th> @Html.DisplayNameFor(model => model.UnitPrice)</th>
                        <th> @Html.DisplayNameFor(model => model.ImageUrl)</th>

                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }, new { @class = "btn btn-warning" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId }, new { @class = "btn btn-danger" })
                         <a href="#" class="btn btn-info" name="Details" onclick='DetailsRecord("+@item.ProductId+")' data-bs-toggle="modal" 
                            data-bs-target="#detailsModal">Details</a>
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.ProductId)</td>
                            <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                            <td>@Convert.ToString(string.Format("{0:dd/mm/yyyy}", item.PurchaseDate))</td>
                            <td>@Html.DisplayFor(modelItem => item.SupplierName)</td>
                            <td>@Html.DisplayFor(modelItem => item.EmailAddress)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                            <td>@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                            <td>@Html.DisplayFor(modelItem => item.ImageUrl)</td>
                            <td>
                                <img src="@Url.Content(item.ImageUrl)" alt="@item.ImageName" width="70" height="90" />
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
  
    <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailsModalLabel">Product Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="partialDiv">
                        @if (ViewBag.Details == "Show")
                        {
                            @Html.Partial("_DetailsRecord", Model);
                            ViewBag.Details = "";
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function DetailsRecord(productId) {
        $.ajax({
            url: "/Product/Details?id=" + productId,
            type: "GET",
            data: "",
            contentType: 'application/json; charset = utf-8',
            success: function (data) {
                $('#partialDiv').show();
                $('#partialDiv').html(data);
            },
            error: function () {
                alert("Error occured")
            }
        })
    }
</script>

